#btnbusca {
    float: right;
    border-radius: 15px;
}

h1 {
    color: rgb(217, 255, 0)
}

.but {
    color: red;
    display: inline-block;
    background-color: black;
    font-size: large;
}

.card col-md-2 {
    color: black;
}

#divBusca {
    display: inline-block;
    float: right;
}