                 body {
                     background-color: black;
                     color: white;
                 }
                 
                 #divBusca {
                     background-color: #ffffff;
                     border: solid 1px;
                     border-radius: 15px;
                     width: 300px;
                 }
                 
                 #txtBusca {
                     float: left;
                     background-color: transparent;
                     padding-left: 5px;
                     font-style: italic;
                     font-size: 18px;
                     border: none;
                     height: 32px;
                     width: 260px;
                 }
                 
                 #btnbusca {
                     float: right;
                     border-radius: 15px;
                 }
                 
                 #tit_1 {
                     color: rgb(217, 255, 0)
                 }
                 
                 .but {
                     color: red;
                     display: block;
                 }